@page "/add-habit"
@inject HabitService HabitService
@inject NavigationManager Navigation
@inject HabitState HabitState

<PageTitle>Add Habit</PageTitle>

<h3>Add Habit</h3>

<Steps @ref="stepsRef" @bind-SelectedStep="@selectedStep" NavigationAllowed="NavigationAllowed">
    <Items>
        <Step Name="Start">
            <Marker>
                <Icon Name="IconName.BirthdayCake"></Icon>
            </Marker>
            <Caption>Start a Habit</Caption>
        </Step>
        <Step Name="Details">
            <Marker>
                <Icon Name="IconName.List"></Icon>
            </Marker>
            <Caption>Enter Habit Details</Caption>
        </Step>
        <Step Name="Review">
            <Marker>
                <Icon Name="IconName.CheckDouble"></Icon>
            </Marker>
            <Caption>Confirm Habit Details</Caption>
        </Step>
    </Items>
    <Content>
        <StepPanel Name="Start">
            <HabitStart OnSubmit="HabitCreated" OnCancel="CancelHabit"></HabitStart>
        </StepPanel>
        <StepPanel Name="Details">
            @if (habitStarted)
            {
                <HabitDetails OnSubmit="HabitDetailsAdded" OnCancel="CancelHabit" OnPrevious="GoToPreviousStep"></HabitDetails>
            }
        </StepPanel>
        <StepPanel Name="Review">
            @if (habitDetailsAdded)
            {
                <ConfirmHabit OnSubmit="SubmitHabit" OnCancel="CancelHabit" OnPrevious="GoToPreviousStep"></ConfirmHabit>
            }
        </StepPanel>
    </Content>
</Steps>

@code {

    [Inject] INotificationService NotificationService { get; set; }

    HabitModel habit = HabitState.CurrentHabit;

    private Steps stepsRef;
    private string selectedStep = "Start";

    bool habitStarted = false;
    bool habitDetailsAdded = false;

    bool? habitCreated;
    string? errorMessage;

    protected override void OnInitialized()
    {
        HabitState.Clear();
        base.OnInitialized();
    }

    async Task HabitCreated()
    {
        habitStarted = true;
        await stepsRef.NextStep();
    }

    async Task HabitDetailsAdded()
    {
        habit = HabitState.CurrentHabit;
        habitDetailsAdded = true;
        await stepsRef.NextStep();
    }

    async Task GoToPreviousStep()
    {
        await stepsRef.PreviousStep();
    }

    void CancelHabit()
    {
        HabitState.Clear();
        GoToHomePage();
    }

    async Task SubmitHabit()
    {
        var result = await HabitService.AddHabit(habit);
        if(result.IsSuccess)
        {
            await NotificationService.Success("Habit added successfully!", "Success!");
            CancelHabit();
        }
        else
        {
            await NotificationService.Error($"Error adding habit - {result.Message}", "Error!");
        }
    }

    void GoToHomePage()
    {
        Navigation.NavigateTo("/");
    }

    private bool NavigationAllowed(StepNavigationContext context)
    {
        switch (context.NextStepIndex)
        {
            case 1:
                return true;
            case 2:
                return habitStarted;
            case 3:
                return context.CurrentStepIndex < 3 && habitDetailsAdded;
            default:
                return true;
        }
    }
}
