@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (AuthState.CurrentUser == null)
            {
                <Blazorise.Link To="/register">Register</Blazorise.Link>
                <Blazorise.Link To="/login" class="pl-2">Login</Blazorise.Link>
            }
            else
            {
               <Blazorise.Link To="javascript::void(0)" Clicked="Logout">Log Out</Blazorise.Link>
            }
        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    
    void Logout()
    {
        AuthState.Clear();
        Navigation.NavigateTo("/login");
    }
}