@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    <Layout Sider>
        <LayoutSider>
            <LayoutSiderContent>
                <NavMenu ShowAuthenticatedMenuItems="IsAuthenticated" />
            </LayoutSiderContent>
        </LayoutSider>
        <Layout>
            <LayoutHeader Fixed>
                <Bar Mode="BarMode.Horizontal" Breakpoint="Breakpoint.Desktop" ThemeContrast="ThemeContrast.Dark"
                     Style="background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);">
                    <BarToggler />
                    <BarMenu>
                        @if (IsAuthenticated && AuthState.CurrentUser != null)
                        {
                            <BarStart>
                                <BarItem>
                                    <BarLabel>Hello, @AuthState.CurrentUser.Name</BarLabel>
                                </BarItem>
                            </BarStart>
                            <BarEnd>
                                <BarItem>
                                    <Notifications></Notifications>
                                </BarItem>
                                <BarItem>
                                    <Blazorise.Link TextColor="TextColor.White" To="/preferences" Padding="Padding.Is3.OnX">
                                        Preferences
                                    </Blazorise.Link>
                                </BarItem>
                                <BarItem>
                                    <Blazorise.Link TextColor="TextColor.White" To="javascript::void(0)"
                                                    Clicked="Logout" Padding="Padding.Is3.OnX">
                                        Log out
                                    </Blazorise.Link>
                                </BarItem>
                            </BarEnd>
                        }
                        else
                        {
                            <BarEnd>
                                <BarItem>
                                    <Blazorise.Link TextColor="TextColor.White" To="/register">
                                        Register
                                    </Blazorise.Link>
                                    <Blazorise.Link TextColor="TextColor.White" To="/login" Padding="Padding.Is2">
                                        Log in
                                    </Blazorise.Link>
                                </BarItem>
                            </BarEnd>
                        }

                    </BarMenu>
                </Bar>
            </LayoutHeader>
            <LayoutContent>
                <article class="content px-4">
                    @Body
                </article>
            </LayoutContent>
        </Layout>
    </Layout>
</div>

@code {

    [Inject] AuthState AuthState { get; set; }

    bool IsAuthenticated
    {
        get
        {
            var isAuthenticated = AuthState?.IsAuthenticated() ?? false;
            return isAuthenticated;
        }
    }

    protected override void OnInitialized()
    {
        if (!IsAuthenticated)
        {
            Navigation.NavigateTo($"/login?ReturnUrl={Navigation.ToBaseRelativePath(Navigation.Uri)}");
        }

        base.OnInitialized();
    }

    async Task Logout()
    {
        await AuthState.ClearAsync();
        Navigation.NavigateTo("/login");
    }
}