@page "/"
@inject HabitService HabitService

<PageTitle>Home</PageTitle>

<h3>Hello, world!</h3>

<LoadingIndicator @bind-Visible="showLoading">
    @if (!showLoading && !Habits.IsAny())
    {
        <Card>
            <CardTitle Size="5">
                You have not recorded any habits so far.
            </CardTitle>
            <CardBody>
                <CardText TextSize="TextSize.Medium" Margin="Margin.Is2.FromBottom">
                    This app allows you to track a habit according to Dave Crenshaw&apos;s LinkedIn Learning course "Unique Habits: Be Successful Your Own Way".
                </CardText>
                <Button Color="Color.Primary" Margin="Margin.Is2.FromTop" Type="ButtonType.Link" To="/add-habit">
                    Add a Habit <Icon Name="IconName.ArrowRight" />
                </Button>
                <Button Color="Color.Secondary" Margin="Margin.Is2.FromTop" Type="ButtonType.Link" To="https://www.linkedin.com/learning/unique-habits-be-successful-your-own-way?u=2254210" Target="Target.Blank">
                    Watch Course <Icon Name="IconName.ArrowRight" />
                </Button>
            </CardBody>
        </Card>
    }
    else
    {
        <h4>Here are the habits you recorded so far: </h4>
        @foreach (var habit in Habits)
        {
            <HabitCard Habit="habit" />
        }
    }
</LoadingIndicator>

@code {
    List<HabitModel> Habits = new();
    bool showLoading = true;

    protected override async Task OnInitializedAsync()
    {
        showLoading = true;
        var result = await HabitService.GetHabits();
        showLoading = false;

        if(result.IsSuccess)
        {
            Habits = result.Value;
        }

        await base.OnInitializedAsync();
    }
}
